extends layout.pug
block content
    body
        h1 Books
        p
            a.button(href='/books/new') Create New Book
        form(action="/search" method="post")
            input(name="search" type="text")
        table
            tr
                th Title
                th Author
                th Genre
                th Year
            each d in data
                tr
                    td
                        a(href="/books/"+d.id) #{d.title}
                    td= d.author
                    td= d.genre
                    td= d.year
        form.formnew(action="/back",method="post")
            button.newbutton.button(type="submit") Back
        form.formnew(action="/next",method="post")
            button.newbutton(type="submit") Next