extends layout.pug
block content
    body
        h1 Books
        p
            a.button(href='/books/new') Create New Book
        table
            tr
                th Title
                th Author
                th Genre
                th Year
            each d in data
                tr
                    td
                        a(href='/books/new') #{d.title}
                    td= d.author
                    td= d.genre
                    td= d.year
                    